<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="FamiliesModel.FamiliesModelPackage" genModel="model/FamiliesModel.genmodel" uri="platform:/plugin/FamiliesModel/model/FamiliesModel.ecore"/>
  </extension>
</plugin>
